@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <h1 class="display-4">Şu anda Development Ortamındayız</h1>
</environment>
<environment include="Sedat">
    <h1 class="display-4">Şu anda Sedat Ortamındayız</h1>
</environment>

<environment include="Staging">
    <h1 class="display-4">Şu anda Staging Ortamındayız</h1>
</environment>

<environment include="Production">
    <h1 class="display-4">Şu anda Production Ortamındayız</h1>
</environment>

<environment exclude="Production">    @*Exclude dışındaki, Include içindeki anlamındadır. Ortamndan ortama da gösterebiliriz*@
    <h1 class="display-4">Şu anda Production dışındaki herhangi bir Ortamdayız</h1>
</environment>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
